<div class="d-flex flex-row-fluid flex-center bg-body rounded">
  <form
    novalidate=""
    id="kt_create_account_form"
    class="py-20 w-100 w-xl-700px px-9"
  >
    <div class="current">
      <div class="pb-10 pb-lg-15">
        <h2 class="fw-bolder text-dark">Account Info</h2>
        <div class="text-gray-400 fw-bold fs-6">
          If you need more info, please check out
          <a href="#" class="link-primary fw-bolder"> Help Page</a>.
        </div>
      </div>
      <div class="mb-0 fv-row"></div>
      <label class="d-flex align-items-center form-label mb-5">
        Select Account Plan<i
          ngbtooltip="Monthly billing will be based on your account plan"
          class="fas fa-exclamation-circle ms-2 fs-7"
          ng-reflect-ngb-tooltip="Monthly billing will be based "
        ></i
      ></label>
      <div class="mb-0">
        <label class="d-flex flex-stack mb-5 cursor-pointer"
          ><span class="d-flex align-items-center me-2"
            ><span class="symbol symbol-50px me-6"
              ><span class="symbol-label"></span></span
            ><span class="d-flex flex-column"
              ><span class="fw-bolder text-gray-800 text-hover-primary fs-5">
                Quero cadastrar um CPF </span
              ><span class="fs-6 fw-bold text-gray-400"> </span></span></span
          ><span class="form-check form-check-custom form-check-solid"
            ><input
              formcontrolname="accountPlan"
              type="radio"
              value="1"
              class="form-check-input ng-untouched ng-pristine ng-valid"
              ng-reflect-form-control-name="accountPlan"
              ng-reflect-value="1"
              ng-reflect-name="accountPlan" /></span></label
        ><label class="d-flex flex-stack mb-5 cursor-pointer"
          ><span class="d-flex align-items-center me-2"
            ><span class="symbol symbol-50px me-6"
              ><span class="symbol-label"></span></span
            ><span class="d-flex flex-column"
              ><span class="fw-bolder text-gray-800 text-hover-primary fs-5">
                Quero cadastrar um CNPJ </span
              ><span class="fs-6 fw-bold text-gray-400"> </span></span></span
          ><span class="form-check form-check-custom form-check-solid"
            ><input
              formcontrolname="accountPlan"
              type="radio"
              value="2"
              class="form-check-input ng-untouched ng-pristine ng-valid"
              ng-reflect-form-control-name="accountPlan"
              ng-reflect-value="2"
              ng-reflect-name="accountPlan" /></span
        ></label>
      </div>
    </div>
    <div
      ng-reflect-form="[object Object]"
      class="ng-untouched ng-pristine ng-invalid"
    >
      <div class="mb-10 fv-row">
        <label class="d-flex align-items-center form-label mb-3">
          Perfil de Faturamento<i
            ngbtooltip="Provide your team size to help us setup your billing"
            class="fas fa-exclamation-circle ms-2 fs-7"
            ng-reflect-ngb-tooltip="Provide your team size to help"
          ></i
          ><!--container--></label
        >
        <div data-kt-buttons="true" class="row mb-2">
          <div class="col">
            <input
              formcontrolname="accountTeamSize"
              type="radio"
              id="kt_account_team_size_select_1"
              value="1-1"
              class="btn-check ng-untouched ng-pristine ng-valid"
              ng-reflect-form-control-name="accountTeamSize"
              ng-reflect-value="1-1"
              ng-reflect-name="accountTeamSize"
            /><label
              for="kt_account_team_size_select_1"
              class="btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4"
              ><span class="fw-bolder fs-3">Até 100k/Ano</span></label
            >
          </div>
          <div class="col">
            <input
              formcontrolname="accountTeamSize"
              type="radio"
              id="kt_account_team_size_select_2"
              value="2-10"
              class="btn-check ng-untouched ng-pristine ng-valid"
              ng-reflect-form-control-name="accountTeamSize"
              ng-reflect-value="2-10"
              ng-reflect-name="accountTeamSize"
            /><label
              for="kt_account_team_size_select_2"
              class="btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4"
              ><span class="fw-bolder fs-3">De 100k até 500k/Ano</span></label
            >
          </div>
          <div class="col">
            <input
              formcontrolname="accountTeamSize"
              type="radio"
              id="kt_account_team_size_select_3"
              value="10-50"
              class="btn-check ng-untouched ng-pristine ng-valid"
              ng-reflect-form-control-name="accountTeamSize"
              ng-reflect-value="10-50"
              ng-reflect-name="accountTeamSize"
            /><label
              for="kt_account_team_size_select_3"
              class="btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4"
              ><span class="fw-bolder fs-3">De 500k até 1M/Ano</span></label
            >
          </div>
          <div class="col">
            <input
              formcontrolname="accountTeamSize"
              type="radio"
              id="kt_account_team_size_select_4"
              value="50+"
              class="btn-check ng-untouched ng-pristine ng-valid"
              ng-reflect-form-control-name="accountTeamSize"
              ng-reflect-value="50+"
              ng-reflect-name="accountTeamSize"
            /><label
              for="kt_account_team_size_select_4"
              class="btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4"
              ><span class="fw-bolder fs-3">Mais de 1M/Ano</span></label
            >
          </div>
        </div>
        <div class="form-text"></div>
      </div>
      <div class="mb-10 fv-row">
        <label class="form-label mb-3 required">Antecipação Automática</label
        ><select>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
      </div>
      <div class="mb-10 fv-row">
        <label class="form-label mb-3 required">CNPJ</label
        ><input
          formcontrolname="accountName"
          type="text"
          placeholder="__.___.___/____-__"
          class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-invalid"
          ng-reflect-name="accountName"
        />
      </div>
      <div class="mb-10 fv-row"></div>
      <label class="form-label mb-3 required">CPF</label
      ><input
        formcontrolname="accountName"
        type="text"
        placeholder="___.___.___-__"
        class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-invalid"
        ng-reflect-name="accountName"
      />
    </div>
    <div class="mb-10 fv-row">
      <label class="form-label mb-3 required">Faturamento Mensal</label
      ><input
        formcontrolname="accountName"
        type="text"
        placeholder="R$"
        class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-invalid"
        ng-reflect-name="accountName"
      />
    </div>
    <div class="mb-10 fv-row">
      <label class="form-label mb-3 required">Ticket Médio</label
      ><input
        formcontrolname="accountName"
        type="text"
        placeholder="R$"
        class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-invalid"
        ng-reflect-name="accountName"
      />
    </div>
    <div class="d-flex flex-stack pt-10">
      <div class="mr-2">
        <button type="button" class="btn btn-lg btn-light-primary me-3">
          Back
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-lg btn-primary me-3" disabled="">
          <span class="indicator-label"> Create></span>
        </button>
      </div>
    </div>
  </form>
</div>
